# .github/workflows/deploy.yml
name: Deploy to Production

on:
  push:
    branches: [ main ]

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: final/Backend

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up JDK 17
        uses: actions/setup-java@v4
        with:
          java-version: '17'
          distribution: 'temurin'
          cache: gradle

      - name: Grant execute permission for gradlew
        run: chmod +x gradlew

      - name: Build with Gradle
        run: ./gradlew build -x test
        env:
          API_KEY: ${{ secrets.API_KEY }}
          JWT_KEY: ${{ secrets.JWT_KEY }}

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: Build and push Backend Docker image
        uses: docker/build-push-action@v6
        with:
          context: ./final/Backend
          push: true
          tags: rabent0207/final-penet-backend:latest

      - name: Build and push Frontend Docker image
        uses: docker/build-push-action@v6
        with:
          context: ./final/Frontend/final-front
          push: true
          tags: rabent0207/final-penet-frontend:latest

      - name: Deploy to EC2
        uses: appleboy/ssh-action@v1
        with:
          host: ${{ secrets.EC2_HOST_IP }}
          username: ${{ secrets.EC2_USERNAME }}
          key: ${{ secrets.EC2_SSH_KEY }}
          script: |
            cd /home/ubuntu/Hamgaja
            mkdir -p ssl
      
            cat > ssl/fullchain.pem << 'EOF'
            ${{ secrets.SSL_FULLCHAIN }}
            EOF
      
            cat > ssl/privkey.pem << 'EOF'
            ${{ secrets.SSL_PRIVATE }}
            EOF
      
            chmod 644 frontend/final-front/ssl/fullchain.pem
            chmod 600 frontend/final-front/ssl/privkey.pem
            docker compose -f docker-compose.server.yml pull
            docker compose -f docker-compose.server.yml up -d